*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.title-container{
    display: flex;
    justify-content: space-between;

    height: 5%;
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0 1rem 0 1rem;
}

nav a{
    color: gray;
}

nav h1{
    font-size: 2rem;
}

.content-container{
    display: flex;
    gap: 1rem;

    width: 100%;
    min-height: 100vh;
    padding: 2rem;
}

article{
    width: 75%;
    min-height: 100%;
}

.blogpost-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 1rem;
}

.blogpost-container h1{
    font-size: 2rem;
}

.blogpost-container div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blogpost-container div:nth-child(2) p:nth-child(1){
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.blogpost-container div:nth-child(2) p:nth-child(3){
    border: 1px solid gray;
}

.author-text{
    color:gray;
}

.heading-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 1rem;
}

.heading-container h1{
    font-size: 1.8rem;
}

.sub-heading-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 1rem;
}

.sub-heading-container h1{
    font-size: 1.5rem;
}

.sub-heading-container p:nth-child(3){
    border: 1px solid gray;
}

.sub-heading-container-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 1rem;
}

.sub-heading-container-2 h1{
    font-size: 1.5rem;
}

.sub-heading-container-2 ul{
    margin-left: 3rem;
}

.sub-heading-container-2 ol{
    margin-left: 3rem;
}

.older-newer-btn{
    display:flex;
    gap: 1rem;
    margin-top: 4rem;
}

.older-btn{
    border: 1px solid blue;
    border-radius: 25px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    color: blue
}

.newer-btn{
    border: 1px solid gray;
    border-radius: 25px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    color: gray;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 25%;
}

.about-container{
    padding: 1rem;
    background-color: lightgray;
    min-width: 100px;
}

.archives-container{
    padding: 1rem;
}

.archives-container li{
    list-style-type: none;
}

.elsewhere-container{
    padding: 1rem;
}

.elsewhere-container li{
    list-style-type: none;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgray;
    height: 5vh;
}

img{
    height: 25px;
    width: 25px;
}