@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tiro Devanagari Marathi', serif;
    color: white;
    background-color: black;
}

.main-container{
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid white;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 1rem;
}

.input-container input {
    border: 2px solid white;
    font-size: 1.4rem;
    padding: 0.2rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-transform: capitalize;
}

.input-container button{ 
    border: 2px solid white;
    font-size: 1.4rem;
    padding: 0.2rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.input-container button:hover{ 
    background-color: white;
    color: black;
}

.result-container{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin: 1rem;
}

.content-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
    height: 100vh;
    padding: 1rem;
    overflow-y: auto;
}

.album-info-container{
    display: flex;
    flex-direction: column;
    
    height: 250px;
    width:  250px;
    border: 2px solid white;
    box-shadow: 0 0 5px white;
    padding: 0.5rem;
    overflow-y: auto;
}

li{
    list-style: none;
    padding: 0.5rem;
}

.album-img{
    width: 100%;
    height: 50%;
}

.show-more-btn{
    border: 1px solid white;
    padding: 0.2rem;
    font-size: 1.2rem
}

.show-more-btn:hover {
    color:black;
    background-color: white;
}

@media (max-width: 480px){
    .header-container{
        text-align: center;
    }

    .input-container input{
        width: 100%;
        border-radius: 5px;
    }

    .input-container button{
        width: 100%;
        border-radius: 5px;
    }

    .album-info-container{
        max-width: 160px;
        max-height: 100%;
    }

    .album-img{
        width:100%;
        height:65%;
    }
}

@media (max-width: 370px){
    .album-info-container{
        min-width: 100%;
    }
}