@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 100vh;
    background-color: rgb(130, 131, 125);
}

.header-container{
    margin-bottom: 1rem;
}

.todo-container{
    border: 3px solid white;
    box-shadow: 0 0 10px white;
    width:75%;
    height: 85%;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem;
    border-bottom: 3px solid white;
}

.input-container input {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-container button{
    padding: 1rem;
    font-size: 1.4rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    height: 750px;
    padding: 1rem;    
    overflow-y: scroll;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    border: 2px inset white;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem;
}

.footer-container a{
    color: black;
}

.footer-container button{
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid black;
}

.delete-btn {
    padding: 0.6rem;
}

.delete-all-container{
    display: flex;
    justify-content: flex-end;

    padding: 1rem;
}

.delete-all-container button{
    width: 75px;
    border: 1px solid black;
}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}