*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.title-container{
    min-width: 300px;
    margin-bottom: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-btn{
    color: gray;
}

.blog-containter{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    grid-gap: 1rem;

}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;

    padding: 1rem;
    border: 5px solid lightgray;
    gap: 1.4rem;
}

.card-container:hover{
    border: 1px solid lightgray
}

.card-container p:nth-child(3){
    color: gray;
    font-size: 0.8rem;
    font-weight: 1000;
}

.card-container:nth-child(odd) p:nth-child(1) {
    color: rgb(4, 155, 248);
    font-weight: 1000;
    margin-bottom: 0.2rem;
}

.card-container:nth-child(even) p:nth-child(1) {
    color: green;
    font-weight: 1000;
    margin-bottom: 0.2rem;
}

.info-container{
    min-height: 75%;
}

.continue-link{
    height: 25%;
}

.search-btn {
    height: 25px;
    width: 25px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: rgb(243, 243, 243);
    color: rgb(70, 70, 70);
    padding: 1rem;
    font-size: 0.8rem;
    min-width: 300px
}