* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.option-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

th,
td {
  padding: 0 1rem 0 1rem;
}