@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-container{
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 600px;
}

.name-container{
    display: flex;
    gap: 1rem;
    width: 100%;
}

.name-container div {
    width: 100%;
}

.mobile-container{
    width: 100%;
}

.email-container{
    width :100%;
}

.password-container{
    display: flex;
    gap: 1rem;
    width: 100%;
}

.password-container div {
    width: 100%;
}

.tos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tos-container div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-right: 1rem;
    font-size: 0.8rem;
}

.tos-container div:nth-child(2){
    display: flex;
    width: 100%;
    font-size: 0.8rem;
}

.tos-container a{
    text-decoration: none;
}

#tos{
    cursor: pointer;
}

.register-text{
    background: rgb(3, 128, 170);
    padding: 0 0.3rem 0 0.3rem;
    border-radius: 3px;
    color: white;
}

input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 5px;
    border: 1px solid gray;
}

input:hover{
    box-shadow: 0px 0px 10px rgb(137, 197, 218);
    border: 1px solid rgb(137, 197, 218);
}

.buttons-container{
    width: 100%;
    display: flex;
    gap: 1rem;
}

button{
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-btn{
    color: white;
    background-color: rgb(3, 128, 170);
}

.register-btn:hover{
    background-color: rgb(5, 159, 211);
}

.signin-btn{
    color: white;
    background-color: green;
}

.signin-btn:hover{
    background-color: rgb(2, 172, 2);
}

label{
    width: 100%;
}

@media (max-width: 400px ){
    .name-container{
        flex-direction: column;
    }

    .password-container{
        flex-direction: column;
    }

    .tos-container{
        flex-direction: column;
    }

    .tos-container div:nth-child(1){
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .buttons-container{
        flex-direction: column;
    }
}