.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    border: 1px solid green;
}

.social-contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contacts-1 {
    display: flex;
    gap: 4rem;
    margin: 1rem;
}

.contacts-1 img{
    height: 50px;
    width: 50px;
}

.contacts-2{
    display: flex;
}

.information-container{
    border: 1px solid green;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

    text-decoration: none;
    color:black;
}

.information-container a{
    text-decoration: none;
    color:black;
}

.location{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
}

.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume a:nth-child(2){
    margin-top: 1rem;
}