* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-container{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: gray;
}

.nav-container{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  position:sticky
}

.nav-container a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}