* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-container{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid red;
}

.nav-container{
  display: flex;
  gap: 1rem;
  border: 1px solid blue;
}

.nav-container a {
  color: black;
  text-decoration: none;
  padding: 1rem;
}