.summary-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 5rem;
    background-color: black;
    padding: 4rem;
    color: white;
}

.summary-container section{
    display: flex;
    align-items: flex-start;
}